.content-page.about-us-page
  display: flex
  flex-direction: column
  justify-items: flex-start
  align-items: flex-start
  padding: 0 2rem
  
.aboutus-world
  margin: 0 auto
  margin-top: 4rem
  width: 4rem
  aspect-ratio: 1 / 1
  margin-bottom: 1rem

.minc-title
  font-family: VCR OSD Mono

.yellow
  color: #FEF001

.about-us-credits
  font-size: 0.7rem
  font-weight: 200
  width: 100%
  display: flex
  flex-direction: column
  gap: 0.3rem
  // font-stretch: expanded

.about-us-page__naming
  margin-top: 1rem
  width: 16.2rem
  aspect-ratio: 2485 / 488

.about-us-page__description
  margin: 0 auto
  margin-top: 1.2rem
  aspect-ratio: 3281 / 267
  width: 22.5rem

.simple-text.about-us-services
  font-size: 0.65rem
  line-height: 1.3rem
  text-align: center

.instagram-link
  margin-top: 1.7rem
  width: 4.6rem
  margin-right: 0

@media (min-width: 1000px)
  .content-page.about-us-page
    padding: 0
    width: 30rem
    margin: 0 auto
    margin-top: 1rem
    // border: 1px solid red

  .aboutus-world
    margin-top: 0rem
    width: 5rem
    aspect-ratio: 1 / 1

  .simple-text.about-us-services
    margin: 0 auto
    margin-top: 2rem
    font-size: 0.85rem

  .instagram-link
    margin-left: 0
    margin-top: 2rem
    width: 6rem