@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
  font-family: "VCR OSD Mono";
  src: url("../assets/fonts/VCR_OSD_MONO_1.001.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.navbar {
  display: flex;
  padding: 1.5rem 0.9rem 0.5rem 1.5rem;
  justify-content: space-between;
  align-items: center;
}

.navbar-logotipo {
  height: 4rem;
  aspect-ratio: 296/150;
}

.navbar-menu-button {
  width: 9rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.navbar-menu-button img {
  width: 5rem;
}

.navbar-menu-button > * {
  position: relative;
  z-index: 1;
}

.navbar-menu-line {
  position: absolute;
  margin-right: 0.3rem;
  z-index: 0;
}
.navbar-menu-line img {
  width: 0.4rem;
  height: 10rem;
}

.menu-closed {
  display: none;
}

.extra-menu {
  display: flex;
  justify-content: flex-end;
}

.extra-menu-buttons-div {
  margin-right: 0.9rem;
  display: flex;
  flex-direction: column;
  width: 9rem;
  align-items: center;
  gap: 1.1rem;
  position: absolute;
  z-index: 99;
}

.navbar-extra-button {
  width: 7rem;
}

.new-button-div {
  position: relative;
  z-index: 1;
}

.new-button {
  position: absolute;
  left: -2.7rem;
  top: 45%;
  transform: translateY(-50%);
  width: 2rem;
  z-index: 0;
}

.navbar-menu-desktop, .menu-desktop-bar {
  display: none;
}

@media (min-width: 1000px) {
  .navbar {
    display: flex;
    padding: 2.4rem 3rem 0.5rem 3.8rem;
  }
  .navbar-logotipo {
    height: 5rem;
  }
  .navbar-menu-button {
    display: none;
  }
  .navbar-menu-desktop {
    display: flex;
    gap: 1rem;
  }
  .navbar-menu-desktop .navbar-extra-button {
    width: 9rem;
    cursor: pointer;
  }
  .navbar-menu-desktop .navbar-extra-button .new-button {
    position: absolute;
    left: 3.5rem;
    top: 135%;
    transform: translateY(-50%);
    width: 2.3rem;
    z-index: 0;
  }
  .extra-menu-buttons-div, .navbar-menu-button {
    display: none;
  }
  .menu-desktop-bar {
    display: flex;
    width: 37.4rem;
    transform: translate(0, 0.7rem);
    position: relative;
    z-index: 1;
    cursor: pointer;
  }
  .menu-desktop-bar .menu-bar {
    filter: drop-shadow(0.5rem 0.5rem 0 rgba(0, 0, 0, 0.5));
  }
  .menu-desktop-box {
    position: absolute;
    z-index: 0;
    width: 8.2rem;
    top: -0.4rem;
    left: 2.3rem;
    filter: drop-shadow(0.5rem 0.5rem 0 rgba(0, 0, 0, 0.5));
    cursor: pointer;
  }
  .menu-desktop-box .box-selected {
    opacity: 0;
  }
  .menu-desktop-box .box:hover {
    opacity: 0;
  }
  .menu-desktop-box .box-selected:hover {
    opacity: 100;
  }
}
.greetings-message {
  width: 15.8rem;
  margin-top: 11rem;
}

.home-white-bar {
  margin-top: 1.3rem;
  width: 16rem;
}

.home-figures {
  display: none;
}

@media (min-width: 1000px) {
  .greetings-message {
    margin-top: 1.6rem;
    width: 21rem;
  }
  .home-white-bar {
    margin-top: 0rem;
    width: 23rem;
  }
  .home-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4.5rem;
  }
  .home-figures {
    display: flex;
    height: 31rem;
  }
  .figure-a {
    transform: translate(-5rem, -15px);
  }
  .figure-b {
    transform: translate(6rem, 9rem);
  }
}
footer {
  display: flex;
  align-content: center;
  justify-content: center;
}

.about-us-button {
  margin-bottom: 3rem;
  width: 5rem;
  cursor: pointer;
}

@media (min-width: 1000px) {
  .about-us-button {
    width: 6.5rem;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  height: 100%;
  width: 100%;
  display: block;
}

.wraper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-image: url("../assets/images/websiteBackground.png");
  background-size: cover;
  background-position: center;
}

main {
  display: flex;
  justify-content: center;
  flex: 1;
}

/*# sourceMappingURL=app.css.map */
