@font-face
  font-family: 'VCR OSD Mono'
  src: url('../assets/fonts/VCR_OSD_MONO_1.001.ttf') format('truetype')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Arial'
  src: url('../assets/fonts/ARIAL.TTF') format('truetype')
  font-weight: normal
  font-style: normal
  font-display: swap

@import './navbar'
@import './home'
@import './footer'
@import './videos'
@import './programming'
@import './market'

*
  box-sizing: border-box
  padding: 0
  margin: 0

img
  height: 100%
  width: 100%
  display: block
    
.wraper
  display: flex
  flex-direction: column
  min-height: 100dvh
  overflow: hidden
  background-image: url("../assets/bg/webBackgroundRework.webp")
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  background-attachment: fixed

main
  display: flex
  flex: 1

.welcome-page
  justify-content: center

.content-page
  flex-direction: column
  align-items: center
  padding: 1rem
  gap: 1rem
  
.content-title-text
  width: 4rem
  width: 4.5rem

// .intento-de-box
//   position: absolute
//   width: 9rem
//   height: 2.5rem
//   cursor: pointer
//   border-radius: 0.05px

// .intento-de-box
//   box-shadow: 0 0 0 1px black, 0 0 0 2px white, 0 0 0 3px black

// .intento-de-box:hover
//   box-shadow: 0 0 0 1px black, 0 0 0 2px yellow, 0 0 0 3px black


@media (min-width: 1000px)
  .wraper
    background-image: url("../assets/bg/websiteBackground.webp")
