@font-face
  font-family: 'VCR OSD Mono'
  src: url('../assets/fonts/VCR_OSD_MONO_1.001.ttf') format('truetype')
  font-weight: normal
  font-style: normal
  font-display: swap

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap')

@import './navbar'

*
    box-sizing: border-box
    padding: 0
    margin: 0

img
    height: 100%
    width: 100%
    display: block
    
.wraper
    display: flex
    flex-direction: column
    min-height: 100vh
    background-image: url("../assets/bg/webBackgroundRework.png")
    background-size: cover
    background-position: center

main
    display: flex
    justify-content: center
    align-items: center
    flex: 1

.greetings
    display: flex
    flex-direction: column
    gap: 1rem
    color: white
    text-shadow: 0.2rem 0.2rem 0 #000000

.greetings-box
    width: 20rem
    padding: 2rem
    border: 2px solid black
    border-radius: 0.1px
    box-shadow: 0 0 0 2px white, 0 0 0 4px black

.greetings-title
    display: flex
    gap: 6.5rem
    margin: 0 -0.3rem
    font-family: VCR OSD Mono

.greetings-title-number
    color: orange

.greetings-box-text
    font-family: Inter
    font-weight: 500
    span
        color: orange


