footer
    display: flex
    align-content: center
    justify-content: center
    
.about-us-button
    margin-bottom: 3rem
    width: 5rem
    cursor: pointer

@media (min-width: 1000px)
    .about-us-button
        width: 6.5rem