.welcome-page
  justify-content: center
  
.greetings-message
    width: 15.8rem
    margin-top: 11rem

.home-char-bar
    margin-top: 1.3rem
    width: 16rem

.home-figures
    display: none

@media (min-width: 1000px)
  .greetings-section
    display: flex 
    flex-direction: column
    align-items: center
    justify-content: center
    gap: 4.5rem
    border: 1px solid red

  .greetings-message
    margin-top: 1.6rem
    width: 21rem

  .home-char-bar
    margin-top: 0rem
    width: 23rem
  
  .home-figures
    display: flex
    height: 31rem

  .figure-a
    transform: translate(-5rem, -15px)

  .figure-b
    transform: translate(6rem, 9rem);