.home-mobile
    margin: auto 0

.greetings-section
    width: 13rem
    margin: 0 auto

.greetings-message
    position: relative
    figure
        position: absolute
        width: 1rem
        top: -0.4rem
        left: 0.1rem

.home-white-bar
    margin-top: 2rem
    width: 16rem