.welcome-page
  margin: 0 auto
  
.greetings-message
  width: 15.8rem
  margin-top: 11rem

.home-char-bar
  margin-top: 1.3rem
  width: 16rem

.home-figures
  display: none

@media (min-width: 1000px)
  .welcome-page
    width: 100%
    position: relative
    align-items: center
    justify-content: center

  .greetings-section
    display: flex 
    flex-direction: column
    align-items: center
    justify-content: center
    gap: 4.5rem

  .greetings-message
    margin-top: 1.6rem
    width: 21rem

  .home-char-bar
    margin-top: 0rem
    width: 23rem
  
  .home-figures
    display: flex
    height: 31rem
    position: absolute

  .figure-a
    left: -4rem
    top: -1.5rem

  .figure-b
    right: -6rem
    top: 9rem