.description-section
  display: flex
  align-items: center
  justify-content: center
  gap: 1rem
  width: 100%

.description-box
  width: 12rem

.view-cart
  width: 3.2rem
  
.market
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 1rem
  width: 100%
  margin-bottom: 0.2rem
  padding: 1rem

// ----

.item-card
  width: 100%

.item-image
  width: 3.4rem

.add-to-cart
  margin-top: 0.5rem
  width: 5rem 

.item-data
  margin-top: 0.5rem