.description-section
  display: flex
  align-items: center
  justify-content: center
  gap: 1rem
  width: 100%

.description-box
  width: 12rem

.view-cart
  width: 3.2rem
  
.market
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 1rem
  width: 100%
  margin-bottom: 0.2rem
  padding: 1rem

// ----

.item-card
  width: 100%
  height: 10rem
  display: flex
  flex-direction: column
  justify-content: space-between

.item-image
  align-self: flex-start
  aspect-ratio: 513 / 665
  height: 4.5rem

.item-info
  margin-top: 0.4rem
  color: white
  font-family: 'Arial'
  font-size: 0.7rem
  text-shadow: 0.13rem 0.14rem 0 rgba(0, 0, 0, 0.9); 

.item-description
  display: flex
  justify-content: space-between
  width: 4.75rem

.item-price
  font-family: VCR OSD Mono
  color: #FEF001

.add-to-cart
  width: 5rem 

.item-data