.description-section
  display: flex
  align-items: center
  justify-content: center
  gap: 1rem
  width: 100%

.description-box
  width: 12rem

.view-cart
  width: 3.2rem
  
.market
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 0.6rem
  width: 100%
  margin-bottom: 0.2rem
  padding: 1rem
  row-gap: 2rem

.item-card
  width: 100%
  display: flex
  flex-direction: column
  gap: 0.5rem
  justify-content: space-between
  // border: 1px solid red
  height: 11rem

.item-image
  // border: 1px solid red
  align-self: flex-start
  height: 6rem
  aspect-ratio: 513 / 665

.item-info
  // border: 1px solid red
  // margin-top: 0.4rem
  // height: 4rem
  color: white
  font-family: 'Arial'
  font-size: 0.5rem
  text-shadow: 0.13rem 0.14rem 0 rgba(0, 0, 0, 0.9); 
  // gap: 2.5rem

.item-title
  width: 5.1rem

.item-description
  margin-top: 0.5rem
  // border: 1px solid red
  display: flex
  justify-content: space-between
  width: 4.75rem

.raffle-ticket
  font-family: VCR OSD Mono
  color: #FEF001
  font-size: 0.46rem

.item-price
  // border: 1px solid red
  font-family: VCR OSD Mono
  color: #FEF001

.add-to-cart
  width: 5rem 

.item-data