.navbar
    display: flex
    padding: 1.5rem 0.9rem 0.5rem 1.5rem
    justify-content: space-between
    align-items: center

.navbar-logotipo
    height: 3rem
    aspect-ratio: 296 / 150

.menu-mobile-button
    width: 9rem 
    display: flex
    justify-content: center
    cursor: pointer
    img
        width: 5rem 

.menu-mobile-button > *
    position: relative
    z-index: 1

.navbar-menu-line
    position: absolute
    margin-right: 0.3rem
    img
        width: 0.4rem
        height: 10rem
    z-index: 0

.extra-menu
    display: flex
    justify-content: flex-end

.extra-menu-buttons-div
    margin-right: 0.9rem
    display: flex
    flex-direction: column
    width: 9rem
    align-items: center
    gap: 1.1rem
    position: absolute
    z-index: 99

.navbar-extra-button
    width: 7rem

.new-button-div
    position: relative
    z-index: 1

.new-button
    position: absolute
    left: -2.7rem
    top: 45%
    transform: translateY(-50%)
    width: 2rem
    z-index: 0

.menu-desktop, .menu-desktop-bar, .menu-closed
    display: none

@media (min-width: 1000px)
    .navbar
      display: flex
      padding: 2.4rem 3rem 0.5rem 3.8rem

    .navbar-logotipo
        height: 4.5rem

    .menu-mobile-button, .extra-menu, .navbar-menu-line
        display: none

    .menu-desktop
      display: flex
      position: relative
      z-index: 1

    .menu-desktop-bar
      display: flex
      width: 37.4rem

    .menu-single-box
      position: absolute
      z-index: 0
      top: -13%
      cursor: pointer
      width: 9rem

    .box-1
      left: 5%

    .box-2
      left: 38.5%

    .box-3
      left: 71%