.navbar
    display: flex
    padding: 1.5rem 0.9rem 0.5rem 1.5rem
    justify-content: space-between
    align-items: center
    // border: 1px solid black

.navbar-logotipo
    height: 4rem
    aspect-ratio: 296 / 150

.navbar-menu-button
    width: 9rem 
    // border: 1px solid blue
    display: flex
    justify-content: center
    cursor: pointer
    img
        width: 5rem 

.navbar-menu-button > *
    position: relative
    z-index: 1

.navbar-menu-line
    position: absolute
    margin-right: 0.3rem
    img
        width: 0.4rem
        height: 10rem
    z-index: 0

.menu-closed
    display: none

.extra-menu
    display: flex
    justify-content: flex-end

.extra-menu-buttons-div
    margin-right: 0.9rem
    display: flex
    flex-direction: column
    width: 9rem
    align-items: center
    position: fixed
    gap: 1.1rem
    z-index: 1

.navbar-extra-button
    width: 7rem

.new-button-div
    position: relative
    z-index: 1

.new-button
    position: absolute
    left: -2.7rem
    top: 45%
    transform: translateY(-50%)
    width: 2rem
    z-index: 0

