.navbar
    display: flex
    padding: 1.5rem 0.9rem 0.5rem 1.5rem
    justify-content: space-between
    align-items: center

.navbar-logotipo
    height: 3rem
    aspect-ratio: 296 / 150

.navbar-menu-button
    width: 9rem 
    display: flex
    justify-content: center
    cursor: pointer
    img
        width: 5rem 

.navbar-menu-button > *
    position: relative
    z-index: 1

.navbar-menu-line
    position: absolute
    margin-right: 0.3rem
    img
        width: 0.4rem
        height: 10rem
    z-index: 0

.menu-closed
    display: none

.extra-menu
    display: flex
    justify-content: flex-end

.extra-menu-buttons-div
    margin-right: 0.9rem
    display: flex
    flex-direction: column
    width: 9rem
    align-items: center
    gap: 1.1rem
    position: absolute
    z-index: 99

.navbar-extra-button
    width: 7rem

.new-button-div
    position: relative
    z-index: 1

.new-button
    position: absolute
    left: -2.7rem
    top: 45%
    transform: translateY(-50%)
    width: 2rem
    z-index: 0

.navbar-menu-desktop, .menu-desktop-bar
    display: none

@media (min-width: 1000px)
    .navbar
        display: flex
        padding: 2.4rem 3rem 0.5rem 3.8rem
    .navbar-logotipo
        height: 5rem

    .navbar-menu-button
        display: none
    .navbar-menu-desktop
        display: flex
        gap: 1rem
        .navbar-extra-button
            width: 9rem
            cursor: pointer
            .new-button
                position: absolute
                left: 3.5rem
                top: 135%
                transform: translateY(-50%)
                width: 2.3rem
                z-index: 0

    .extra-menu-buttons-div, .navbar-menu-button
        display: none

    .menu-desktop-bar
        display: flex
        width: 37.4rem
        transform: translate(0, 0.7rem)
        position: relative
        z-index: 1
        cursor: pointer
        
    .menu-desktop-box
        position: absolute
        z-index: 0
        width: 8.2rem
        top:  -0.4rem
        left: 2.3rem
        filter: drop-shadow(0.5rem 0.5rem 0 rgba(0, 0, 0, 0.5))
        cursor: pointer

    .box-selected
      display: none

    .box-link:hover .box-selected
      display: block

    .box-link:hover .box-normal
      display: none
