.videos
  margin-top: 0.2rem
  display: grid
  grid-template-columns: repeat(2, 1fr)
  gap: 1.5rem
  margin-bottom: 0.2rem

.video-card
  display: flex
  flex-direction: column
  align-items: center
    
.video-card__image
  height: 4rem
  width: 4rem
  img
    object-fit: contain

.video-card:nth-child(2)
  .video-card__image
    position: relative

.zapatito
  position: absolute
  width: 2.1rem 
  top: 60%
  left: 65%
  transform: translate(-50%, -50%)

.video-card__title
  width: 7rem
  aspect-ratio: 1105 / 200
  img
    object-fit: contain

.video-card__title--double
  width: 7rem
  aspect-ratio: 1105 / 200
  img
    object-fit: cover
  
.video-card__desc
  font-family: 'Arial'
  font-size: 0.5rem
  color: white
  text-shadow: 0.13rem 0.14rem 0 rgba(0, 0, 0, 0.9);
  text-align: center
  margin-top: 0.4rem

@media (min-width: 1000px)
  .videos
    margin-top: 1.5rem
    grid-template-columns: repeat(3, 1fr)
    padding: 0 4rem
    width: 100%
    row-gap: 2.5rem
    column-gap: 0rem
  .video-card
    gap: 0.5rem
  .video-card__image
    width: 10rem
    height: 7rem
  .video-card__title
    width: 9rem
    aspect-ratio: 1105 / 200
    img
      object-fit: contain
  .video-card__title--double
    width: 9rem
    aspect-ratio: 1105 / 200
    img
      object-fit: cover

  .video-card__desc
    font-size: 0.8rem
    width: 30ch
    text-align: justify
    text-align-last: center