.videos
  margin-top: 0.2rem
  display: grid
  grid-template-columns: repeat(2, 1fr)
  gap: 1.5rem
  // gap: 1rem
  margin-bottom: 0.2rem

.video-card-box
  display: flex
  flex-direction: column
  align-items: center
    
.image-video
  height: 4rem
  width: 4rem
  // height: 5rem
  width: 5rem
  img
    object-fit: contain

.video-card-box:nth-child(2)
  .image-video
    position: relative

.zapatito
  position: absolute
  width: 2.1rem 
  top: 60%
  left: 65%
  transform: translate(-50%, -50%)

.title-video
  width: 7rem
  height: 2rem
  img
    object-fit: contain
  
.video-card-box p
  font-family: 'Arial'
  font-size: 0.5rem
  color: white
  text-shadow: 0.13rem 0.14rem 0 rgba(0, 0, 0, 0.9);
  text-align: center
  margin-top: 0.4rem

// @media (min-width: 1000px)
//   .videos
//     display: grid
//     grid-template-columns: repeat(3, 1fr)
//     width: 100%
//     row-gap: 1rem
//     column-gap: 3rem
//   .video-card-box
//     gap: 1rem
//     .image-video
//       width: 10rem
//     .title-video
//       width: 12rem
//     p
//       font-size: 1rem